
Flask-SQLAlchemy==2.0
Jinja2>=2.10
MarkupSafe==0.23
Werkzeug>=0.14
itsdangerous==0.24
wsgiref==0.1.2
future
SQLAlchemy==1.1.9
dogpile.cache
Flask==0.12.2
flask-babelex
flask-security
ujson
simplejson
pyyaml
unidecode
attrs
psycopg2